<!DOCTYPE html>
<html>
<head>
    <title>Chat Room</title>
    <style>
        #chat-log {
            width: 100%;
            height: 300px;
            border: 1px solid #ccc;
            overflow-y: scroll;
            margin-bottom: 10px;
        }
        #chat-message-input {
            width: 80%;
        }
        #chat-message-submit {
            width: 18%;
        }
    </style>
</head>
<body>
    <h1>Chat Room</h1>
    <div id="chat-container">
        <textarea id="chat-log" readonly></textarea><br>
        <input id="chat-message-input" type="text" size="80"><br>
        <button id="chat-message-submit">Send</button>
    </div>

    <script>
        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/chat/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
            document.querySelector('#chat-log').scrollTop = document.querySelector('#chat-log').scrollHeight;
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // Enter key
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'message': message
                }));
                messageInputDom.value = '';
            }
        };

        document.querySelector('#chat-message-submit').onclick = function() {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>
